@import "/css/reset.css";

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000d7;
}

h1,
h2 {
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-header {
  background-color: #0e0e469c;
  padding: 30px;
  border-radius: 4px;
}

.content-header h2 {
  text-align: center;
  font-size: 24px;
}

.content-weather {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.content-weather img {
  width: 150px;
}

.content-weather p {
  font-size: 20px;
  margin: 4px 0;
}

.content-weather p + p {
  font-weight: bold;
}

.weather-description {
  text-transform: capitalize;
}

.content-date {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 14px;
  border-radius: 4px;
  margin-top: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.btn-save,
.btn-att,
.btn-remove {
  background-color: rgb(16, 102, 49);
  color: #fff;
  padding: 8px 16px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.btn-att {
  background-color: rgb(61, 61, 77);
  color: #fff;
}

.header-btn-remove{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.btn-remove {
  background-color: rgb(179, 38, 38);
  color: #fff;
}

.content-save {
  padding: 30px;
  margin-top: 60px;
  background-color: #2e2e2ed2;
}

.content-save h2 {
  text-align: center;
}

.content-save-list {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  overflow-x: auto;
  gap: 30px;
}

.content-save-list::-webkit-scrollbar {
  width: 12px;
}
.content-save-list::-webkit-scrollbar-thumb {
  background-color: #696969ce;
}
.content-save-list::-webkit-scrollbar-track {
  background-color: #0000003b;
}

.content-save-list .content-header {
  background-color: #252525;
  margin-bottom: 20px;
  min-width: 380px;
}

.content-save-list .content-date {
  background-color: rgba(0, 0, 0, 0.1);
}

.content-save .content-save-list h2 {
  font-size: 20px;
}

.position-error {
  color: rgb(224, 6, 6);
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  border-radius: 4px;
}

.save-list-empty {
  font-size: 16px;
  padding: 20px;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: rgb(216, 213, 213);
}

.loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #1c1c74fd;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 28px;
  }
  .content-weather {
    flex-direction: column;
    gap: 0;
  }
}